
.container{
    width: 100%;
    height: calc(100vh - 7rem);
   
}

.itemContainer{
    width: 100%;
    height: calc(100vh - 10rem);
    padding: 1rem;
    overflow: auto;
}

.payment_info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
}
// .grandTotal{
//     // width: 15%;
//     // display: flex;
//     // justify-content: space-between;
//     // padding: 0 1rem;
//     // align-items: center;
//     font-size: 1.1rem;
// }


